@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&family=Philosopher:ital,wght@0,400;1,400;1,700&family=Playball&family=Roboto&family=Sanchez&display=swap');

/*
font-family: 'Open Sans', sans-serif;
font-family: 'Philosopher', sans-serif;
font-family: 'Playball', cursive;
font-family: 'Roboto', sans-serif;
font-family: 'Sanchez', serif;
*/

*{
    margin: 0;
    border: 0;
    padding: 0;
}

:root{
    --color-tittle: #365902;
    --color-bt: #D6352D;
    --color-laj: #DA6216;
    --color-bar : #83A603;

    --heigth-img: clamp(1.5rem, calc(5vw - 0.25rem), 4rem);
    --width-banner: clamp(15rem, calc(60vw - 0.4rem), 80rem);

    --font-16: clamp(0.3em ,calc(1.5vw - 0.2em), 1em);
    --font-18: clamp(0.4em, calc(2vw - 0.2em), 1.125em);
}

#main{
    display: none;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2.5vw;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

.left-navegation{
    display: flex;
    align-items: center;
}

.left-navegation img{
    height: var(--heigth-img);
    width: auto;
    margin-left: 2vw;
}

h1{
    font-family: 'Philosopher', sans-serif;
    font-size: clamp(12px, calc(2.5vw - 0.25rem), 1.75rem);
    color: var(--color-tittle);
}

.left-navegation ul{
    display: flex;
    font-family: 'Sanchez', serif;
    font-size: var(--font-18);
}

.left-navegation nav ul li a{
    color: black;
    transition: 0.2s;
}

.left-navegation nav ul li a:hover{
    border-top: 4px solid var(--color-tittle);
}

.profile ul{
    display: flex;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    font-size: var(--font-16);
}

#bar{
    width: clamp(1px, calc(1vw - 0.3rem), 3px);
    height: var(--heigth-img);
    border: 1px solid var(--color-tittle);
    background-color: var(--color-bar);
    margin: 0 0.8vw;
}

#btn-join{
    padding: clamp(2px, calc(1vw - 0.1rem), 7px) clamp(3.4px, calc(1.2vw - 0.1rem), 12px);
    color: white;
    border-radius: clamp(1px, calc(1vw - 0.1rem), 10px);
    background-color: var(--color-bt);
}

#btn-join:hover{
    padding: clamp(2px, calc(1vw - 0.1rem), 7px) clamp(3.4px, calc(1.2vw - 0.1rem), 12px);
    color: var(--color-bt);
    box-shadow: 0px 0px 1px 2px var(--color-bt);
    border-radius: clamp(1px, calc(1vw - 0.1rem), 10px);
    background-color: white;
    transition: 0.5s;
}

.profile ul li:last-child img{
    height: clamp(1rem, calc(4vw - 0.5rem), 2.25rem);
    width: auto;
    margin-right: 3vw;
}

.left-navegation ul li{
    margin-left: 2.5vw;   
    flex-shrink: 0; 
}

.left-navegation ul li:first-child{
    margin-left: 3.5vw;   
}

.profile ul li{
    margin-right: 2vw;
}
.profile ul li a{
    color: var(--color-bt);
}
.profile ul li:first-child:hover{
    border-top: 4px solid var(--color-bt);
    transition: 0.2s;
}

.imgBanner {
    width: var(--width-banner);
    border-radius: clamp(2px, calc(2vw - 0.1rem), 20px);
}

#container{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}
#subs{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 30%;
    right: 45%;
    color: white;
    text-align: center;
}

#btn-saiba{
    padding: clamp(.5rem, calc(0.5vw - 0.10rem), 2.5rem) clamp(1.0rem, calc(1vw - 0.25rem), 5rem);
    background-color: #37D581;
    border-radius: clamp(0.5px, calc(1vw - 0.1rem), 10px);
    margin-top: 40px;
}

.categorias{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: clamp(5px, calc(5vw - .1rem), 60px);
}
.categorias ul{
    display: flex;
    justify-content: space-evenly;
    width: 60%;

}

.categorias ul li a img{
    width: clamp(1rem, calc(3vw - 0.1rem), 4rem);
    padding: clamp(.10rem, calc(1vw - 0.25rem), 7rem);
    background-color: #E89F71;
    border-radius: clamp(2px, calc(2vw - 0.1rem), 20px);
}

/* Botão de procura no site */

.search {
    width: 50%;
    position: relative;
    display: flex;
}

.search>input {
    width: 100%;
    border: none;
    padding-left: 10px;
    height: 81px;
    border-radius: 5px 0 0 5px;
    color: #D6352D;
    background-color: rgba(191, 109, 78,0.1);
}

.search>input:focus {
    color: #DA6216;
}

.search>button {
    width: 40px;
    height: 36px;
    border: none;
    background-color: rgba(191, 109, 78,0.1);
    align-items: center;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    justify-content: center;
}

.wrapper {
    width: 40%;
    position: absolute;
    margin-top: clamp(5px, calc(5vw - .1rem), 60px);
}
